<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Todo App mit Vue</title>
</head>

<body id="body">
    <div id="app">

        <h1>TODO</h1>
        <div class="filter">
            <label id="all" :class="isActive('all')" @click="changeFilter">All</label>
            <label id="open" :class="isActive('open')" @click="changeFilter">Open</label>
            <label id="done" :class="isActive('done')" @click="changeFilter">Done</label>
        </div>

        <form class="add" id="add-form" @submit.prevent="addTodo">
            <input id="input" type="text" placeholder="what's up?" autocomplete="input" v-model="currentDescription">
        </form>

        <div class="todo-list" id="todo-list">
            <template v-for="(todo, index) of filteredTodos" :key="todo.id">

                <form :class="todoType(todo)" @click="changeDone(todo)">
                    <span>{{todo.description}}</span>
                    <h2>
                        <i class="fa-solid fa-trash-can" @click="deleteTodo(index)"></i>
                    </h2>
                    <h2>
                        <i class=" fa-regular fa-square-check"></i>
                    </h2>
                </form>
            </template>
        </div>

    </div>
    <script src="https://unpkg.com/vue@latest"></script>
    <script src="script.js"></script>
</body>

</html>