/* grape-nuts-regular - latin */
@font-face {
  _font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  _font-family: "Grape Nuts";
  _font-style: normal;
  _font-weight: 400;
  _src: url("grape-nuts-v5-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
  display: grid;
  place-items: center;
  background-color: Darkblue;
  min-height: 100vh;
  align-items: normal;
}

body {
  max-width: 20rem;
  min-width: 18rem;
  margin-top: 3rem;
  border: 0.2rem solid;
  border-color: white;
  border-radius: 2rem;
  padding: 1rem;
}

h1 {
  color: white;
  text-align: center;
}

.filter {
  display: flex;
  justify-content: space-between;
}

.filter label {
  border: 0.2rem solid;
  border-color: white;
  border-radius: 0.5rem;
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.passivFilter {
  background-color: inherit;
  color: white;
}

.activFilter {
  background-color: white;
  color: midnightblue;
}

.filter label + label {
  margin-left: 1rem;
}

form {
  width: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  background-color: white;
  border: 0.2rem solid;
  border-color: white;
  display: flex;
  align-items: center;
  color: #000070;
  font-family: "Grape Nuts";
  font-size: x-large;
}

.done {
  border: 0.2rem solid;
  border-color: white;
  background-color: inherit;
  color: white;
}

.add input {
  width: 95%;
  border: none;
  padding: 0.5rem;
  font-family: "Grape Nuts";
  font-size: large;
  outline: none;
}

.add {
  margin-bottom: 2.5rem;
}

form span {
  width: 90%;
  padding: 0.5rem;
}

h2 {
  padding-right: 0.5rem;
  margin: 0;
  z-index: 2;
  font-size: 25px;
  color: white;
}

input:-webkit-autofill::first-line,
input:autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill::first-line,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill::first-line,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: Midnightblue;
  transition: background-color 5000s ease-in-out 0s !important;
}

/* error handling */
.error {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Grape Nuts";
  font-style: normal;
  font-weight: 400;
  src: url("grape-nuts-v5-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  font-size: 25px;
  color: white;
  text-align: center;
}
